@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor: none;
}
body {
  background-color: black;
  color: white;
}

canvas {
  height: 100vh;
}

.cursor {
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}
